#foobar {
    text-align: center;

}
.blue {
   background-color: blue;
}
.green {
    background-color: darkgreen;
}
.orange {
   background-color: orange;
}
.green a, .blue a,.orange a {
    color: ghostwhite ;
}
#origami {
    color:blue;
    text-align: center;
}
.origami2 {
    text-decoration: none;
}
h2 {
    color:darkgreen;
}
h3 {
    color:red;
}
.cootie {
    color:yellow;
}
.hi {
    color:yellow;
}
#body {
    background-color: black;
}
.blue li:hover {
    color: blue;
}
.text {
    color:blue;
}
